In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('../../Data/FuentesOriginales/MADRID/MADRID_UTF8.csv', delimiter= ';')
df.head()

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0,79,Madrid,79601,Centro,796011,Palacio,Hombre,Africa,163
1,79,Madrid,79601,Centro,796011,Palacio,Hombre,América Central y del Caribe,83
2,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Norte,169
3,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Sur,384
4,79,Madrid,79601,Centro,796011,Palacio,Hombre,Apátridas,1